In [1]:
import pandas as pd
from pathlib import Path

from mndot_bid_etl.extract import abstract as ab

In [2]:
csv_file = Path("../data/csv/2022/220002.csv").resolve()
abstract = ab.read_csv(csv_file)
bidder_df_raw = abstract.bidder_df.copy()

In [3]:
bidder_df_raw.head()

  Bidder Number                              Bidder Name     Bidder Amount
0    0000198793                           Duininck, Inc.     $4,617,263.70
1    0000210000  Knife River Corporation - North Central     $4,893,902.90
2    0000207897                Central Specialties, Inc.     $4,969,561.62

In [5]:
bidder_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bidder Number  3 non-null      object
 1   Bidder Name    3 non-null      object
 2   Bidder Amount  3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [4]:
# Drop unnecessary columns
search_strings = ["Bidder Amount"]

def find_all_columns(
    df: pd.DataFrame, search_strings: list[str]
) -> list[str]:
    matching_columns = []
    for column in df.columns.to_list():
        for substring in search_strings:
            if substring in column:
                matching_columns.append(column)
    return matching_columns

columns_to_drop = find_all_columns(bidder_df_raw, search_strings)

bidder_df_dropped = bidder_df_raw.drop(columns=columns_to_drop)
bidder_df_dropped.head()

  Bidder Number                              Bidder Name
0    0000198793                           Duininck, Inc.
1    0000210000  Knife River Corporation - North Central
2    0000207897                Central Specialties, Inc.

In [9]:
# Rename columns
rename_map = {
    "Bidder Number": "id",
    "Bidder Name": "name"
}

bidder_df_renamed = bidder_df_dropped.rename(columns=rename_map)
bidder_df_renamed.head()

           id                                     name
0  0000198793                           Duininck, Inc.
1  0000210000  Knife River Corporation - North Central
2  0000207897                Central Specialties, Inc.

In [10]:
print(bidder_df_renamed.at[0, "id"])
print(bidder_df_renamed.at[0, "name"])

0000198793
Duininck, Inc.