In [1]:
import pandas as pd
from pathlib import Path

from mndot_bid_etl.extract import abstract as ab

In [3]:
csv_file = Path("../data/csv/2022/220002.csv").resolve()
abstract = ab.read_csv(csv_file)
contract_df_raw = abstract.contract_df.copy()

In [4]:
contract_df_raw.head()

,Letting Date,Job Description,Contract Id,SP Number,District,County
0,01/28/2022,LOCATED ON T.H. 14 FROM 490' WEST OF T.H. 71 T...,220002,0803-44,Mankato,BROWN

In [5]:
contract_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Letting Date     1 non-null      object
 1   Job Description  1 non-null      object
 2   Contract Id      1 non-null      object
 3   SP Number        1 non-null      object
 4   District         1 non-null      object
 5   County           1 non-null      object
dtypes: object(6)
memory usage: 176.0+ bytes

In [11]:
# Cast Letting Date to a date type
contract_df_dtype = contract_df_raw.astype({"Letting Date": "datetime64[ns]"})
contract_df_dtype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Letting Date     1 non-null      datetime64[ns]
 1   Job Description  1 non-null      object
 2   Contract Id      1 non-null      object
 3   SP Number        1 non-null      object
 4   District         1 non-null      object
 5   County           1 non-null      object
dtypes: datetime64[ns](1), object(5)
memory usage: 176.0+ bytes

In [13]:
# Rename columns
rename_map = {
    "Letting Date": "letting_date",
    "Job Description": "description",
    "Contract Id": "id",
    "SP Number": "sp_number",
    "District": "district",
    "County": "county"
}

contract_df_renamed = contract_df_dtype.rename(columns=rename_map)
contract_df_renamed.head()

,letting_date,description,id,sp_number,district,county
0,2022-01-28,LOCATED ON T.H. 14 FROM 490' WEST OF T.H. 71 T...,220002,0803-44,Mankato,BROWN

In [14]:
# Append winning_bidder and spec_year columns
contract_df_final = contract_df_renamed.copy()
contract_df_final["winning_bidder_id"] = abstract.winning_bidder_id

# TODO create algorithm that determines the spec_year
contract_df_final["spec_year"] = 2001

contract_df_final.head()

,letting_date,description,id,sp_number,district,county,winning_bidder_id,spec_year
0,2022-01-28,LOCATED ON T.H. 14 FROM 490' WEST OF T.H. 71 T...,220002,0803-44,Mankato,BROWN,0000198793,2001