In [1]:
from pathlib import Path

from mndot_bid_etl.extract import abstract as ab
from mndot_bid_etl.transform.transform_bid import get_transformed_bid_df

In [2]:
csv_file = Path("../data/csv/2022/220002.csv").resolve()
abstract = ab.read_csv(csv_file)
bid_df = get_transformed_bid_df(abstract)

In [3]:
bid_df.head()

          item_id  quantity  bidder_id  unit_price contract_id  is_winning_bid
0  2011.601/01000       1.0  engineers     1500000      220002           False
1  2021.501/00010       1.0  engineers    25000000      220002           False
2  2051.501/00010       1.0  engineers      100000      220002           False
3  2101.505/00020       1.4  engineers      800000      220002           False
4  2101.505/00030       1.4  engineers      400000      220002           False

In [4]:
bid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_id         568 non-null    object
 1   quantity        568 non-null    float64
 2   bidder_id       568 non-null    object
 3   unit_price      568 non-null    int64
 4   contract_id     568 non-null    object
 5   is_winning_bid  568 non-null    bool
dtypes: bool(1), float64(1), int64(1), object(3)
memory usage: 22.9+ KB