In [1]:
import sys
sys.path.append("..")

from pathlib import Path

from mndot_bid_etl.reader.abstract import create_abstract_data_from_csv
from mndot_bid_etl.reader.item import create_item_data_from_csv
from mndot_bid_etl.transform.functional.transform_bid import transform_bid_df
from mndot_bid_etl.transform.functional.transform_bidder import transform_bidder_df
from mndot_bid_etl.transform.functional.transform_contract import transform_contract_df

In [2]:
abstract_data = create_abstract_data_from_csv(Path("../data/csv/2022/220002.csv").resolve())

item_data_2020 = create_item_data_from_csv(Path("../data/csv/item_list_2020.csv").resolve())

# New transformation logic to match API

In [3]:
df =abstract_data.bidder_df
df.head()

  Bidder Number                              Bidder Name     Bidder Amount
0    0000198793                           Duininck, Inc.     $4,617,263.70
1    0000210000  Knife River Corporation - North Central     $4,893,902.90
2    0000207897                Central Specialties, Inc.     $4,969,561.62

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bidder Number  3 non-null      string
 1   Bidder Name    3 non-null      string
 2   Bidder Amount  3 non-null      string
dtypes: string(3)
memory usage: 200.0 bytes

In [7]:
import pandas as pd
from mndot_bid_etl.dtype import DType

In [8]:
out_df = pd.DataFrame()
out_df.head()

Empty DataFrame
Columns: []
Index: []

In [12]:
out_df["id"] = df["Bidder Number"].astype(DType.INT64)
out_df.head()

       id
0  198793
1  210000
2  207897

In [13]:
out_df["name"] = df["Bidder Name"].str.strip()
out_df.head()

       id                                     name
0  198793                           Duininck, Inc.
1  210000  Knife River Corporation - North Central
2  207897                Central Specialties, Inc.

In [14]:
out_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      string
dtypes: int64(1), string(1)
memory usage: 176.0 bytes

In [16]:
from mndot_bid_etl.transform import bidder

transformed_bidder_df = bidder.transform_bidder(abstract_data.bidder_df)
transformed_bidder_df.head()

       id                                     name
0  198793                           Duininck, Inc.
1  210000  Knife River Corporation - North Central
2  207897                Central Specialties, Inc.

In [17]:
transformed_bidder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      string
dtypes: int64(1), string(1)
memory usage: 176.0 bytes