In [1]:
from pathlib import Path

from mndot_bid_etl.reader.abstract import create_abstract_data_from_csv
from mndot_bid_etl.reader.item import create_item_data_from_csv
from mndot_bid_etl.transform.functional.transform_bid import transform_bid_df
from mndot_bid_etl.transform.functional.transform_bidder import transform_bidder_df
from mndot_bid_etl.transform.functional.transform_contract import transform_contract_df

In [2]:
abstract_data = create_abstract_data_from_csv(Path("../data/csv/2022/220002.csv").resolve())

item_data_2020 = create_item_data_from_csv(Path("../data/csv/item_list_2020.csv").resolve())

# Bid Transformer (Object)

In [3]:
from mndot_bid_etl.transform.recipes import bid_transformer

transformed_bid_df = bid_transformer.apply(abstract_data.bid_df)
transformed_bid_df.head()

,contract_id,item_id,long_description,quantity,bidder_id,unit_price
0,220002,2011.601/01000,AS BUILT,1.0,engineers,1500000
1,220002,2021.501/00010,MOBILIZATION,1.0,engineers,25000000
2,220002,2051.501/00010,MAINT AND RESTORATION OF HAUL ROADS,1.0,engineers,100000
3,220002,2101.505/00020,CLEARING,1.4,engineers,800000
4,220002,2101.505/00030,GRUBBING,1.4,engineers,400000

In [6]:
transformed_bid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   contract_id       568 non-null    string
 1   item_id           568 non-null    string
 2   long_description  568 non-null    string
 3   quantity          568 non-null    float64
 4   bidder_id         568 non-null    string
 5   unit_price        568 non-null    int64
dtypes: float64(1), int64(1), string(4)
memory usage: 26.8 KB

#### Bid Transformer

In [7]:
bid_df = transform_bid_df(df=abstract_data.bid_df, contract_id=abstract_data.contract_id)

In [8]:
bid_df.head()

,item_id,long_description,quantity,bidder_id,unit_price,contract_id
0,2011.601/01000,AS BUILT,1.0,engineers,1500000,220002
1,2021.501/00010,MOBILIZATION,1.0,engineers,25000000,220002
2,2051.501/00010,MAINT AND RESTORATION OF HAUL ROADS,1.0,engineers,100000,220002
3,2101.505/00020,CLEARING,1.4,engineers,800000,220002
4,2101.505/00030,GRUBBING,1.4,engineers,400000,220002

In [9]:
bid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_id           568 non-null    object
 1   long_description  568 non-null    object
 2   quantity          568 non-null    float64
 3   bidder_id         568 non-null    object
 4   unit_price        568 non-null    int64
 5   contract_id       568 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 26.8+ KB

# Bidder Transformer (Object)

In [10]:
from mndot_bid_etl.transform.recipes import bidder_transformer

transformed_bidder_df = bidder_transformer.apply(abstract_data.bidder_df)
transformed_bidder_df.head()

           id                                     name
0  0000198793                           Duininck, Inc.
1  0000210000  Knife River Corporation - North Central
2  0000207897                Central Specialties, Inc.

In [11]:
transformed_bidder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      string
 1   name    3 non-null      string
dtypes: string(2)
memory usage: 176.0 bytes

#### Bidder Transformer

In [12]:
bidder_df = transform_bidder_df(df=abstract_data.bidder_df)

In [13]:
bidder_df.head()

           id                                     name
0  0000198793                           Duininck, Inc.
1  0000210000  Knife River Corporation - North Central
2  0000207897                Central Specialties, Inc.

In [14]:
bidder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      object
 1   name    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

# Contract Transformer (Object)

In [15]:
from mndot_bid_etl.transform.recipes import contract_transformer

transformed_contract_df = contract_transformer.apply(abstract_data.contract_df)
transformed_contract_df.head()

,letting_date,description,id,sp_number,district,county
0,2022-01-28,LOCATED ON T.H. 14 FROM 490' WEST OF T.H. 71 T...,220002,0803-44,Mankato,BROWN

In [16]:
transformed_contract_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   letting_date  1 non-null      datetime64[ns]
 1   description   1 non-null      string
 2   id            1 non-null      string
 3   sp_number     1 non-null      string
 4   district      1 non-null      string
 5   county        1 non-null      string
dtypes: datetime64[ns](1), string(5)
memory usage: 176.0 bytes

#### Contract Transformer

In [17]:
contract_df = transform_contract_df(
    df=abstract_data.contract_df,
    winning_bidder_id=abstract_data.winning_bidder_id,
    spec_year="2001",
)

In [18]:
contract_df.head()

,letting_date,description,id,sp_number,district,county,winning_bidder_id,spec_year
0,2022-01-28,LOCATED ON T.H. 14 FROM 490' WEST OF T.H. 71 T...,220002,0803-44,Mankato,BROWN,0000198793,2001

In [19]:
contract_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   letting_date       1 non-null      datetime64[ns]
 1   description        1 non-null      object
 2   id                 1 non-null      object
 3   sp_number          1 non-null      object
 4   district           1 non-null      object
 5   county             1 non-null      object
 6   winning_bidder_id  1 non-null      object
 7   spec_year          1 non-null      object
dtypes: datetime64[ns](1), object(7)
memory usage: 192.0+ bytes

# Item Transformer (Object)

In [20]:
from mndot_bid_etl.transform.recipes import item_transformer

transformed_item_2020_df = item_transformer.apply(item_data_2020)
transformed_item_2020_df.head()

,id,description,long_description,unit,unit_description,spec_year
0,2011.601/00003,CONSTRUCTION SURVEYING,CONSTRUCTION SURVEYING,LS,LUMP SUM,2020
1,2011.601/00010,VIBRATION MONITORING,VIBRATION MONITORING,LS,LUMP SUM,2020
2,2011.601/00015,SCOUR MONITORING,SCOUR MONITORING,LS,LUMP SUM,2020
3,2011.601/00018,SETTLEMENT MONITORING,SETTLEMENT MONITORING,LS,LUMP SUM,2020
4,2011.601/00020,REVISED BRIDGE PLANS,REVISED BRIDGE PLANS,LS,LUMP SUM,2020

In [21]:
transformed_item_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8034 entries, 0 to 8033
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8034 non-null   string
 1   description       8034 non-null   string
 2   long_description  8034 non-null   string
 3   unit              8034 non-null   string
 4   unit_description  8034 non-null   string
 5   spec_year         8034 non-null   string
dtypes: string(6)
memory usage: 376.7 KB

In [22]:
transformed_item_2020_df.iloc[1110]

id                                              2118.507/00050
description              AGGREGATE SURFACING (LV), CLASS 5 MOD
long_description    AGGREGATE SURFACING (LV), CLASS 5 MODIFIED
unit                                                       C Y
unit_description                                         CU YD
spec_year                                                 2020
Name: 1110, dtype: string